/* CSS Document */
body{
		margin:0;
		padding:0
		}
.nav{ 
	height:50px;
	background-color:#1154F3;
	padding-left:50px;
	line-height:43px;
		}
.b{
	width: 662px;
	position: absolute;
	left: 236px;
	top: 55px;
	}
.c{
	position: absolute;
	left: 1000px;
	height: auto;
	}
#a{
	font-size:30px;
	font-weight:bolder;
	line-height:50px;
	color:#FFFFFF;
	text-decoration:none
	
			}
#b{
	height:30px;
	width:350px;
	line-height:30px;
	background-image:url(../%E6%90%9C%E7%B4%A2.png);
	background-repeat:no-repeat;
	background-position:right;
	border:0;
	padding-top:0px;
	position:absolute;
	top:12px;
	left:450px;
	padding-left:10px
		}
a{
	text-decoration:none;
	color:#FFFFFF
		}
a:link{
	 color:#FFFFFF
	}
.d{
	 padding-left:300px
	}
.e{
	    position:absolute;
		top:-10px;
		left:800px;
		list-style-type:none;
		padding-right:500px;
		margin:0;
		color:#FFFFFF;
		line-height:50px
	}
.e li{
	float:left;
	}
#c {
	margin:auto
	}
#f {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size:22px;
	font-weight:900;
	color:#000000;
	text-indent: 0em;
	padding:0;
	margin:0
	}
 .g li{
	 list-style-type:none;
	 padding:5px;
	 margin:5px;
	 color:#959595;
	 align-content:left;
	 }
	#g {
		width:35px;
		height:32px
		}
	.f{
		float:right;
		margin:0px;
		padding:0px;
		width:50px;
		height:30px;
		}
	h3{
		font-family:"微软雅黑";
		font-size:18px
		}
	p{
		font-size:14px;
		color:#868686;
		line-height:20px;
		text-indent: 2em;
		}
	#h{
		position:absolute;
		top:10px;
		left:1200px;
		width:60px;
		height:30px;
		background-color:#167AC3;
		color:#FFFFFF;
		border:0px;
		letter-spacing:1px;
		font-size:16px
		}
	.div{
		height:400px;
		background-color:#1154F3;
		padding:0;
		margin:0
		}
	table{
		float:right;
		margin-right:300px;
		margin-top:50px;
		color:#FFF
		}
	td{
		margin:10px;
		padding:10px;
		width:50px;
		height:10px
		}
	value{
		width:50px;
		height:10px
		}
	#m{
		margin:0px;
		padding:0px;
		float:left;
		margin-left:300px;
		margin-top:80px;
		padding-left:10px
	}
	#first{
		font-size:52px;
		font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
		color:#FFFFFF;
		}
		#last{
			font-size:24px;
			color:#FFFFFF;
			}
		.value{
			color:#C7C7C7;
			width:180px;
			height:25px;
			border-radius:5px;
			border:0px;
			padding-left:10px
			}
		.sumbit{
			width:180px;
			height:35px;
			background-color:#22A4E3;
			color:#FFFFFF;
			border-radius:5px;
			font-size:16px;
			border:0px
			}
		.div2 {
			position:absolute;
			top:400px;
			left:300px
			}
		img{
			border-radius:60px;
						}
		.div3 {
			position:absolute;
			left:650px;
			top:450px;
			width:500px;
			height:350px;
			padding-left:20px
			}
		li{
			padding:5px;
			margin:5px;
			list-style-type:none
			}
		.div4 {
			position:absolute;
			top:800px;
			left:260px;
			width:1000px;
			height:200px;
			font-size:10px
			}
		.div5{
			position:absolute;
  			left:450px;
			top:15px
			}
		.sumbit2{
			width:180px;
			height:50px;
			background-color:#CECECE;
			border-radius:10px
			}
		.text{
			width:50px;
			height:30px;
			background-color:#D3D3D3;
			border-radius:10px
						}
		#n {
			font-size:13px
			}
		z{
			font-size:12px;
			color:#A6A4A4;
		}
		.adminbutton {
			border:#F8F4F4 1px solid; height:22px;background:#FBF5F6
			}
			m{
	position: absolute;
	left: 564px;
	top: 95px;
}	
	
	 
